/* font  */

/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #070d14;
  --text-color: #dddef3;
  --main-color: #703136;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* head */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 3rem;
  color: var(--text-color);
  user-select: none;
}

/* nav bar */

.nav-bar a {
  position: relative;
  font-size: 1.3em;
  color: var(--text-color);
  font-weight: 600;
  text-decoration: none;
  margin-left: 20px;
  padding: 6px 15px;
  transition: 0.5s;
}

.nav-bar a:hover,
.nav-bar a.home-page {
  color: #333;
}

.nav-bar a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--text-color);
  border-radius: 30px;
  z-index: -1;
  transform: scale(0);
  opacity: 0;
  transition: 0.5s;
}

.nav-bar a:hover span,
.nav-bar a.home-page span {
  transform: scale(1);
  opacity: 1;
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

/* home section */

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.home {
  display: flex;
  align-items: center;
  padding: 0 9%;
  background: url("") no-repeat;
  background-size: cover;
  background-position: center;
}

.antika {
  width: 300px;
  height: 400px;
  border-radius: 1rem;
  box-shadow: 5px 10px white;
}

.antika:hover {
  box-shadow: none;
  opacity: 0.5;
}

.container {
  max-width: 60rem;
  display: flex;
  justify-items: center;
  text-align: center;
  margin: 0;
  gap: 50rem;
}

.text-container h1 {
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 1.1;
}

.text-container .text-profile {
  position: relative;
  width: 32.8rem;
}

.text-container .text-profile h3 {
  font-size: 3.5rem;
  font-size: 700;
  color:var(--main-color);
}

.text-container p {
  font-size: 2rem;
  margin: 2rem 0 4rem;
  text-align: start;
}

.btn-box {
  position: relative;
  display: flex;
  width: 34.5rem;
  height: 5rem;
  margin: 20px;
}

.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background-color: var(--text-color);
  border: 0.2rem solid var(--text-color);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box .btn:hover {
  color: var(--text-color);
}

.btn-box .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--bg-color);
  z-index: -1;
  /* transition: .5s; */
}

.btn-box .btn:hover::before {
  width: 100%;
}

.socials-container {
  position: absolute;
  bottom: 4rem;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.socials-container a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 0.2rem solid var(--text-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--text-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.socials-container a:hover {
  color: var(--bg-color);
}

.socials-container a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--text-color);
  z-index: -1;
  /* transition: .5s; */
}

.socials-container a:hover::before {
  width: 100%;
}

/* about section */

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--second-bg-color);
  padding-bottom: 6rem;
}

.tittle {
  font-size: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  margin: 5rem;
}

span {
  color: var(--main-color);
}

.about-container {
  display: flex;
}

.about-container p {
  font-size: 2.5rem;
  margin: 5rem;
}

.btn-box .btns {
  display: inline-block;
  width: 15rem;
}

.btn-box.btns a::before {
  background-color: var(--second-bg-color);
}

/* skill section */

.skill-container {
  display: flex;
  flex-direction: row 2;
  justify-content: center;
  text-align: center;
}

article {
  margin: 5rem;
  font-size: large;
}

/* project section */

.card-container {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
}
.card {
  height: 500px;
  margin: 50px;
  box-shadow: 5px 5px 20px white;
  overflow: hidden;
  background-color: var(--text-color);
}
.card-img {
  height: 500px;
  width: 350px;
  border-radius: 3px;
}

.card-details {
  height: 70px;
  width: 350px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  background-color: rgb(201, 195, 195);
  color: black;

  transition: 0.5s;
}

.card-details h1 {
  margin: 10px;
  margin-bottom: 30px;
  font-size: 40px;
}

.card-details a {
  color: var(--text-color);
  font-size: 20px;
  border: 2px solid var(--bg-color);
  border-radius: 3px;
  background-color: #333;
  padding: 5px;
  margin: 20px;
  visibility: hidden;
  opacity: 0;
}
.card-container span {
  font-weight: bold;
}

.card:hover {
  cursor: pointer;
}

.card:hover .card-details {
  height: 240px;
}

.card:hover a {
  opacity: 1;
  visibility: visible;
}

.card:hover img {
  transform: scale(1, 1) rotate(-3deg);
}

/* contact section  */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-containers {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 3rem auto;
  padding: 1.5rem;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 2rem;
}

.contact-container a {
  /* color: var(--text-color); */
  color: var(--text-color);
  font-size: large;
}

.contact-container a:hover {
  color: var(--main-color);
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 17vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
  color: var(--text-color);
  font-size: x-large;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}
